<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storm Wizard</title>
</head>
<body>
<div id="app">
     <h1>{{ titulo }}</h1>
     <div v-if="usuario.id == 1">
     Id: {{usuario.id}} <br>
     Nome: {{usuario.nome}} <br>
     Profissão: {{usuario.profissao}}
    </div>
     <div v-else>Usuario não encontrado</div>
     <ul>
         <li v-for="(item, index) in linguagem">{{ index }} - {{item.nome}}</li>
     </ul>
</div> 

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue ({
            el:"#app",
            data:{
                titulo:"Storm Wizard",
                usuario:{
                    id: 1,
                    nome: "Jon Snow",
                    profissao: "Ator",
                },
                linguagem: [
                    {nome: "Javascript"},
                    {nome: "C++"},
                    {nome: "C#"},
                    {nome: "Html"},
                ]
            }
        });
    </script>
</body>
</html>